<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex align-center'>
        <h1>
          <span role='img' aria-label='money'></span>
          <a href='/'>Home</a>
        </h1>
        <nav>
          <a href='/profile'>Dashboard</a>

          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}

            <button class='no-button' id='logout'>Logout</button>
          {{else}}
            <a href='/login'>Login</a>
          {{/if}}

        </nav>
      </header>

      <p class='site-name'>The Tech Blog
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='27'
          height='27'
          fill='currentColor'
          class='bi bi-pc-display-horizontal'
          viewBox='0 0 16 16'
        >
          <path
            d='M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z'
          ></path>
        </svg></p>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>